{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="{%static 'style.css'%}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- Navbar start -->
    <div class="navbar">
        <h1>RESTUARANTLY</h1>
        <ul class="nav">
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/chefs">Chefs</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/form"></a></li>
        </ul>
        <button class="btn1"> <a href="/form">Book A Table</a></button>
    </div>
    <!-- Navbar end -->

    <!-- Special Section Start -->


    <h2 style="background-color: #0c0b09; color: white; padding-left: 100px; padding-top: 100px;">SPECIALS_________
    </h2>
    <h1 style="background-color: #0c0b09; padding-left: 100px;"> <span class="sty">Check Our Specials</span> </h1>


    <div class="slider">
        <div class="slides">
            <!-- Slide 1 -->
            <div class="slide">
                <div class="slide-img">
                    <img src="{%static 'images/specials-1.png'%}" alt="Product 1">
                </div>
                <div class="slide-content">
                    <h1 style="padding-top: 50px;">Architecto ut aperiam autem id</h1>
                    <br>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Aliquid, minus illum amet magni saepe
                        veritatis apriam vero, quam provident a, laboriosam minima! Sint error quam est aliquam
                        officiis nostrum maxime, fugit, eumrnkl dolor ex distinctio. Nihil consequatur praesentium
                        illo dolorem. Recusandae quis fugit facere velit corruuipti ab vitae beatae.</p><br>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Aliquid, minus illum amet magni saepe
                        veritatis apriam vero, quam provident a, laboriosam minima! Sint error quam est aliquam
                        officiis nostrum maxime, fugit, eumrnkl dolor ex distinctio. Nihil consequatur praesentium
                        illo dolorem. Recusandae quis fugit facere velit corruuipti ab vitae beatae.</p>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="slide">
                <div class="slide-img">
                    <img src="{%static 'images/specials-2.png'%}" alt="Product 1">
                </div>
                <div class="slide-content">
                    <h1 style="padding-top: 50px;">Erchitecto ut eperiam autem id</h1>
                    <br>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Aliquid, minus illum amet magni saepe
                        veritatis apriam vero, quam provident a, laboriosam minima! Sint error quam est aliquam
                        officiis nostrum maxime, fugit, eumrnkl dolor ex distinctio. Nihil consequatur praesentium
                        illo dolorem. Recusandae quis fugit facere velit corruuipti ab vitae beatae.</p><br>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Aliquid, minus illum amet magni saepe
                        veritatis apriam vero, quam provident a, laboriosam minima! Sint error quam est aliquam
                        officiis nostrum maxime, fugit, eumrnkl dolor ex distinctio. Nihil consequatur praesentium
                        illo dolorem. Recusandae quis fugit facere velit corruuipti ab vitae beatae.</p>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="slide">
                <div class="slide-img">
                    <img src="{%static 'images/specials-3.png'%}" alt="Product 1">
                </div>
                <div class="slide-content">
                    <h1 style="padding-top: 50px;">Drchitecto ut pperiam autem id</h1>
                    <br>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Aliquid, minus illum amet magni saepe
                        veritatis apriam vero, quam provident a, laboriosam minima! Sint error quam est aliquam
                        officiis nostrum maxime, fugit, eumrnkl dolor ex distinctio. Nihil consequatur praesentium
                        illo dolorem. Recusandae quis fugit facere velit corruuipti ab vitae beatae.</p><br>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Aliquid, minus illum amet magni saepe
                        veritatis apriam vero, quam provident a, laboriosam minima! Sint error quam est aliquam
                        officiis nostrum maxime, fugit, eumrnkl dolor ex distinctio. Nihil consequatur praesentium
                        illo dolorem. Recusandae quis fugit facere velit corruuipti ab vitae beatae.</p>
                </div>
            </div>


            <!-- Slide 4 -->
            <div class="slide">
                <div class="slide-img">
                    <img src="{%static 'images/specials-4.png'%}" alt="Product 1">
                </div>
                <div class="slide-content">
                    <h1 style="padding-top: 50px;">Frchitecto ut fperiam autem id</h1>
                    <br>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Aliquid, minus illum amet magni saepe
                        veritatis apriam vero, quam provident a, laboriosam minima! Sint error quam est aliquam
                        officiis nostrum maxime, fugit, eumrnkl dolor ex distinctio. Nihil consequatur praesentium
                        illo dolorem. Recusandae quis fugit facere velit corruuipti ab vitae beatae.</p><br>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Aliquid, minus illum amet magni saepe
                        veritatis apriam vero, quam provident a, laboriosam minima! Sint error quam est aliquam
                        officiis nostrum maxime, fugit, eumrnkl dolor ex distinctio. Nihil consequatur praesentium
                        illo dolorem. Recusandae quis fugit facere velit corruuipti ab vitae beatae.</p>
                </div>
            </div>


            <!-- Slide 5 -->
            <div class="slide">
                <div class="slide-img">
                    <img src="{%static 'images/specials-5.png'%}" alt="Product 1">
                </div>
                <div class="slide-content">
                    <h1 style="padding-top: 50px;">Architecto ut aperiam autem id</h1>
                    <br>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Aliquid, minus illum amet magni saepe
                        veritatis apriam vero, quam provident a, laboriosam minima! Sint error quam est aliquam
                        officiis nostrum maxime, fugit, eumrnkl dolor ex distinctio. Nihil consequatur praesentium
                        illo dolorem. Recusandae quis fugit facere velit corruuipti ab vitae beatae.</p><br>
                    <p>Lorem ipsum dolor amet consectetur adipisicing elit. Aliquid, minus illum amet magni saepe
                        veritatis apriam vero, quam provident a, laboriosam minima! Sint error quam est aliquam
                        officiis nostrum maxime, fugit, eumrnkl dolor ex distinctio. Nihil consequatur praesentium
                        illo dolorem. Recusandae quis fugit facere velit corruuipti ab vitae beatae.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Special Section End -->

    <script src="{%static 'js/slide.js'%}"></script>